.bottom-bar{
   background-color: black;
    .bottom-bar-wrapper{
        max-width: 1000px;
        margin: 0 auto;
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
        h1{
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            @media (max-width:991px) {
               font-size: 20px;
            }
        }
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            gap: 50px;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            @media (max-width:576px) {
              gap: 10px;
             }
            li{
                @media (max-width:991px) {
                    font-size: 15px;
                 }
            }

        }
    }
}