.img-card-section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    .img-card-section-wrapper {
        padding: 0px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width:991px) {
            display: grid;
            grid-template-columns: 1fr;
        }
        .right {
            background-color: peachpuff;
            height: 700px;
            .img-wrapper{
                position: relative;
                display: flex;
                justify-content: center;
                img{
                    top:219px;
                    width: 50%;
                    position: absolute;
                    height: 320px;
                    object-fit: cover;
                    @media (max-width:991px) {
                        display: none;
                      
                    }
                }
            }
        }
        .left{
            .img-wrapper-1{
                position: relative;
                display: flex;
                justify-content: end;
            
                img{
                    top: 114px;
                    right: -54px;
                    position: absolute;
                    height: 500px;
                    width: 80%;
                    object-fit: cover;
                    @media (max-width:991px) {
                     right: 24px;
                      
                    }
                   
                }
            }
        }
    }
}
