.main-hero-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 10px;
    .main-hero-section-wrapper {
        max-width: 1000px;
        margin: 0 auto;
        .img-wrapper {
            img {
                width: 100%;
                object-fit: cover;
                height: 560px;
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
            }
        }
    }
}
