.video-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
    z-index: -1;
    .video-section-wrapper{
        max-width: 600px;
        margin: 0 auto;
        video{
            width: 100%;
        }

    }
}